<section>
  <div class="grid-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="grid-x">
        <p><span>English Foundation</span></p>
      </div>
      <div class="grid-x grid-margin-x">
        <div class="cell medium-3">
          <label for="englishCredit">Credit:</label>
          <input type="text" id="englishCredit" formControlName="enFoundationCredit">
        </div>

        <div class="cell medium-8">
          <div formArrayName="englCourses">
            <div class="grid-x" *ngFor="let control of form.controls.englCourses.controls, let i = index">
              <div class="cell medium-11" [formGroupName]="i">
                <label for="englishCourses">Courses:</label>
                <select id="englishCourses" formControlName="id"></select>
              </div>
              <div *ngIf="i>0" class="cell medium-1">
                <a (click)="removeCourse('englCourses',i)"><i class="fa fa-minus-circle" aria-hidden="true"
                                                              style="font-size: 1em;"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="cell medium-1">
          <a (click)="addCourse('englCourses')"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
        </div>
      </div>

      <div class="grid-x">
        Math Foundation
      </div>
      <div class="grid-x grid-margin-x">
        <div class="cell medium-3">
          <label for="mathCredit">Credit:</label>
          <input type="text" id="mathCredit" formControlName="mathFoundationCredit">
        </div>
        <div class="cell medium-8">
          <div formArrayName="mathCourses">
            <div class="grid-x" *ngFor="let control of form.controls.mathCourses.controls, let i = index">
              <div class="cell medium-11" [formGroupName]="i">
                <label for="mathCourses">Courses:</label>
                <select id="mathCourses" formControlName="id"></select>
              </div>
              <div class="cell medium-1">
                <a *ngIf="i>0" (click)="removeCourse('mathCourses',i)"><i class="fa fa-minus-circle" aria-hidden="true"
                                                              style="font-size: 1em;"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="cell medium-1">
          <a (click)="addCourse('mathCourses')"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
        </div>
      </div>

      <div class="grid-x">
        Speech Foundation
      </div>
      <div class="grid-x grid-margin-x">
        <div class="cell medium-3">
          <label for="speechCredit">Credit:</label>
          <input type="text" id="speechCredit" formControlName="speechFoundationCredit">
        </div>
        <div class="cell medium-8">
          <div formArrayName="speechCourses">
            <div class="grid-x" *ngFor="let control of form.controls.speechCourses.controls, let i = index">
              <div class="cell medium-11" [formGroupName] = "i">
                <label for="speechCourses">Courses:</label>
                <select id="speechCourses" formControlName="id"></select>
              </div>
              <div class="cell medium-1">
                <a *ngIf="i>0" (click)="removeCourse('speechCourses',i)"><i class="fa fa-minus-circle" aria-hidden="true" style="font-size: 1em;"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="cell medium-1">
          <a (click)="addCourse('speechCourses')"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
        </div>
      </div>

      <div class="grid-x">
        Art Distribution
      </div>
      <div class="grid-x grid-margin-x">
        <div class="cell medium-3">
          <label for="artCredit">Credit:</label>
          <input type="text" id="artCredit" formControlName="artDistributionCredit">
        </div>
        <div class="cell medium-8">
          <div formArrayName="artCourses">
            <div class="grid-x" *ngFor="let control of form.controls.artCourses.controls, let i = index">
              <div class="cell medium-11" [formGroupName] = "i">
                <label for="artCourses">Courses:</label>
                <select id="artCourses" formControlName="id"></select>
              </div>
              <div class="cell medium-1">
                <a *ngIf="i>0" (click)="removeCourse('artCourses',i)"><i class="fa fa-minus-circle" aria-hidden="true" style="font-size: 1em;"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="cell medium-1">
          <a  (click)="addCourse('artCourses')"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
        </div>
      </div>

      <div class="grid-x">
        Behavioral Distribution
      </div>
      <div class="grid-x grid-margin-x">
        <div class="cell medium-3">
          <label for="behavioralCredit">Credit:</label>
          <input type="text" id="behavioralCredit" formControlName="behavioralDistributionCredit">
        </div>
        <div class="cell medium-8">
          <div formArrayName="behavioralCourses">
            <div class="grid-x" *ngFor="let control of form.controls.behavioralCourses.controls, let i = index">
              <div class="cell medium-11" [formGroupName]="i">
                <label for="behavioralCourses">Courses:</label>
                <select id="behavioralCourses" formControlName="id"></select>
              </div>
              <div class="cell medium-1">
                <a *ngIf="i>0" (click)="removeCourse('behavioralCourses',i)"><i class="fa fa-minus-circle" aria-hidden="true" style="font-size: 1em;"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="cell medium-1">
          <a (click)="addCourse('behavioralCourses')"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
        </div>
      </div>

      <div class="grid-x">
        Humanities Distribution
      </div>
      <div class="grid-x grid-margin-x">
        <div class="cell medium-3">
          <label for="humanCredit">Credit:</label>
          <input type="text" id="humanCredit" formControlName="humanDistributionCredit">
        </div>
        <div class="cell medium-8">
          <div formArrayName="humanCourses">
            <div class="grid-x" *ngFor="let control of form.controls.humanCourses.controls, let i = index">
              <div class="cell medium-11" [formGroupName] = "i">
                <label for="humanCourses">Courses:</label>
                <select id="humanCourses" formControlName = "id"></select>
              </div>
              <div class="cell medium-1">
                <a *ngIf="i>0" (click)="removeCourse('humanCourses',i)"><i class="fa fa-minus-circle" aria-hidden="true" style="font-size: 1em;"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="cell medium-1">
          <a (click)="addCourse('humanCourses')"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
        </div>
      </div>

      <div class="grid-x">
        Science Distribution
      </div>
      <div class="grid-x grid-margin-x">
        <div class="cell medium-3">
          <label for="scienceCredit">Credit:</label>
          <input type="text" id="scienceCredit" formControlName="scienceDistributionCredit">
        </div>
        <div class="cell medium-8">
          <div formArrayName="scienceCourses">
            <div class="grid-x" *ngFor="let control of form.controls.scienceCourses.controls, let i = index">
              <div class="cell medium-11" [formGroupName] = "i">
                <label for="scienceCourses">Courses:</label>
                <select id="scienceCourses" formControlName="id"></select>
              </div>
              <div class="cell medium-1">
                <a *ngIf="i>0" (click)="removeCourse('scienceCourses',i)"><i class="fa fa-minus-circle" aria-hidden="true" style="font-size: 1em;"></i></a>
              </div>
            </div>
          </div>

        </div>
        <div class="cell medium-1">
          <a (click)="addCourse('scienceCourses')"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
        </div>
      </div>

      <div class="grid-x">
        Science Distribution with Lab
      </div>
      <div class="grid-x grid-margin-x">
        <div class="cell medium-3">
          <label for="scienceLabCredit">Credit:</label>
          <input type="text" id="scienceLabCredit" formControlName="scienceLabDistributionCredit">
        </div>
        <div class="cell medium-8">
          <div formArrayName="scienceLabCourses">
            <div class="grid-x" *ngFor="let control of form.controls.scienceLabCourses.controls, let i = index">
              <div class="cell medium-11" [formGroupName]="i">
                <label for="scienceLabCourses">Courses:</label>
                <select id="scienceLabCourses" formControlName="id"></select>
              </div>
              <div class="cell medium-1">
                <a *ngIf="i>0" (click)="removeCourse('scienceLabCourses',i)"><i class="fa fa-minus-circle" aria-hidden="true" style="font-size: 1em;"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="cell medium-1">
          <a (click)="addCourse('scienceLabCourses')"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
        </div>
      </div>

      <div class="grid-x">
        Major Program
      </div>

      <div class="grid-x grid-margin-x">
        <div class="cell medium-3">
          <label for="programCredit">Credit:</label>
          <input type="text" id="programCredit" formControlName="programCredit">
        </div>

        <div class="cell medium-8">
          <div formArrayName="programCourses">
            <div class="grid-x" *ngFor="let control of form.controls.programCourses.controls, let i = index">
              <div class="cell medium-11" [formGroupName] = "i">
                <label for="programCourses">Courses:</label>
                <select id="programCourses" formControlName="id"></select>
              </div>
              <div class="cell medium-1">
                <a *ngIf="i>0" (click)="removeCourse('programCourses',i)"><i class="fa fa-minus-circle" aria-hidden="true" style="font-size: 1em;"></i></a>
              </div>
            </div>
          </div>

        </div>
        <div class="cell medium-1">
          <a (click)="addCourse('programCourses')"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
        </div>
      </div>

      <div class="grid-x">
        Electives
      </div>
      <div class="grid-x grid-margin-x">
        <div class="cell medium-3">
          <label for="electivesCredit">Credit:</label>
          <input type="text" id="electivesCredit" formControlName="electivesCredit">
        </div>
        <div class="cell medium-8">
          <div formArrayName="electiveCourses">
            <div class="grid-x" *ngFor="let control of form.controls.electiveCourses.controls, let i = index">
              <div class="cell medium-11" [formGroupName]="i">
                <label for="electivesCourses">Courses:</label>
                <select id="electivesCourses" formControlName = "id"></select>
              </div>
              <div class="cell medium-1">
                <a *ngIf="i>0" (click)="removeCourse('electiveCourses',i)"><i class="fa fa-minus-circle" aria-hidden="true" style="font-size: 1em;"></i></a>
              </div>
            </div>
          </div>

        </div>
        <div class="cell medium-1">
          <a (click)="addCourse('electiveCourses')"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
        </div>
      </div>


      <div class="grid-x">
        Institutional requirement
      </div>
      <div class="grid-x grid-margin-x">
        <div class="cell medium-3">
          <label for="institutionalCredit">Credit:</label>
          <input type="text" id="institutionalCredit" formControlName="institutionalCredit">
        </div>
        <div class="cell medium-8">
          <div formArrayName="institutionalAttributes">
            <div class="grid-x" *ngFor="let control of form.controls.institutionalAttributes.controls, let i = index">
              <div class="cell medium-11" [formGroupName]="i">
                <label for="institutionalAttribute">Attributes</label>
                <select id="institutionalAttribute" formControlName="id"></select>
              </div>
              <div class="cell medium-1">
                <a *ngIf="i>0" (click)="removeCourse('institutionalAttributes',i)"><i class="fa fa-minus-circle" aria-hidden="true" style="font-size: 1em;"></i></a>
              </div>
            </div>
          </div>

        </div>
        <div class="cell medium-1">
          <a (click)="addCourse('institutionalAttributes')"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
        </div>
      </div>

      <input type="submit" class="button" value="Submit">
    </form>
  </div>
</section>
